*{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  outline:0 !important;
  text-decoration:none;
}

::selection {
  background: #5bcc71 !important; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #5bcc71 !important; /* Gecko Browsers */
}

body{
  margin:0;
  padding:0;
  font-size:18px;
  line-height:normal;
  color:#fff;
  font-family: 'Lato', sans-serif;
}

pre{
  color:#444;
}

a,
button,
input[type="submit"]{
  cursor:pointer
}

a,
a:visited,
a:link{
  color:cornsilk;
}

.wrap,
.wrapper,
.container{
  display: block;
  width:100%;
  clear:both;
}

.wrap{
  position: relative;

}
.wrap.main-body{
  text-align: center;
  background: #83ff9c; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #83ff9c 0%, #7feaff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#83ff9c), color-stop(100%,#7feaff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #83ff9c 0%,#7feaff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #83ff9c 0%,#7feaff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #83ff9c 0%,#7feaff 100%); /* IE10+ */
	background: linear-gradient(45deg,  #83ff9c 0%,#7feaff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83ff9c', endColorstr='#7feaff',GradientType=1 );
}
.wrap.cart{
  position: absolute;
  top:0;
  height:0;
  width:0;
  right:0;
  background-color:#fff;
  width:0;
  -webkit-transition: width .5s;
	-moz-transition:    width .5s;
	-ms-transition:     width .5s;
	-o-transition:      width .5s;
	overflow:hidden;
}
.wrap.cart.active{
  width:350px;
  height:100vh;
  color:#444;
}

.wrap.cart a{
  color:#444;
}

.wrapper.cart-header{
  text-align: right;
  font-size:24px;
  padding:15px;
  border-bottom:2px solid #efefef;
}

.container{
  max-width:1200px;
  margin: 0 auto;
}

.table{
  display: table;
  table-layout: fixed;
  border-collapse:collapse;
}
.main-body > .table{
  height:100vh;
}

.table-cell{
  display: table-cell;
  vertical-align: middle;
  height:inherit;
}
[data-loader] .table-cell{
  text-align: center;
  width:100%;
}


[data-loader]{
  height:0;
  display: none;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  z-index:999;
  background-color:rgba(255,255,255,0.55);
  color:#444;
  opacity:0;
  -webkit-transition: opacity .3s;
	-moz-transition:    opacity .3s;
	-ms-transition:     opacity .3s;
	-o-transition:      opacity .3s;
}
[data-loader].active{
  display: table;
  height:100vh;
}
[data-loader].fadein{
  opacity:1
}
[data-loader] i.fa{
  font-size:60px;
  opacity:.5;
}


[data-main-content]{
  display: none;
  max-width:800px;
  margin: 0 auto;
}
[data-main-content].active{
  display: block;
}
[data-main-content].fadein{
  opacity:1;
}


[data-flyout-trigger]{
  position: absolute;
  top:0;
  right:0;
  display: block;
  font-size:27px;
  color: #fff;
  padding:20px;
}
[data-flyout-trigger]:hover,
[data-flyout-trigger].active{
  color:#ff708f;
}


.login-forms{
  max-width:650px;
  margin: 0 auto;
}


[data-tabs]{
  border:2px solid cornsilk;
  border-top:0;
  padding:25px;
  background-color:rgba(255,255,255,0.3);
  position: relative;
}
[data-tab]{
  overflow:hidden;
  height:0;
}
[data-tab].active{
  height:auto;
  min-height:250px;
}


[data-tab-triggers]{
  display: block;
  width:100%;
}
[data-tab-triggers] ul{
  display: table;
  width:100%;
  table-layout:fixed;
  border:2px solid cornsilk;
  margin:0;
}
[data-tab-triggers] li{
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  border-left:2px solid cornsilk;
}
[data-tab-triggers] li:first-child{
  border:0;
}
[data-tab-triggers] a{
  display: block;
  width:100%;
  padding: 15px 0;
  font-size:18px;
  color:#777;
  background-color:rgba(255,255,255,0.3);
}
[data-tab-triggers] a:hover,
[data-tab-triggers] a.active{
  color:salmon;
  background-color:cornsilk;
}

[data-popup]{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  display: none;
}

[data-popup].active{
  display: table;
  text-align: center;
}

[data-popup] .table-cell{
  vertical-align: middle;
  background-color:rgba(0,0,0,0.95);
  position: relative;
}

[data-popup] .popup{
  max-width:600px;
  margin: 0 auto;
}
[data-destroy-popup]{
  position: absolute;
  right:10px;
  top:10px;
  font-size:27px;
}



[data-form-msg]{
  margin:10px auto;
}

.cart-body > ul{
  list-style: none;
  padding:0;
  margin:0;
}

li.cart-item{
  list-style: none;
}
.cart-item{
  border-bottom:2px solid #efefef;
  padding:15px;
}

.cart-submit{
  padding:15px;
  text-align: center;
}

[data-checkout-total]{
  text-align: center;
}

.checkout{
  text-align: left;
}



.btn{
  color:#fff;
}
.btn-huge{
  padding:20px 50px;
  margin: 0 auto;
}

header h1 {
  font-family: 'Pacifico', cursive;
	font-size:86px;
	color:#ff708f;
	margin:-50px 0 30px 0 ;
	text-shadow: 5px 5px 0 #fff, 10px 10px 0 #f5e778;
}
.checkout h1{
  font-size:56px;
  margin:12px 0;
}
.cart-body h2{
  margin-top:0;
}

.cart-header h3{
  font-size:18px;
  color:#444;
  float:left;
  margin:5px 0 0 0;
}

.cart-body span{
  float:right;
  margin-top:4px;
  color:#ff708f;
  font-size:22px;
}

select,
input:not( [type="checkbox"] ),
input:not( [type="radio"] ),
input:not( [type="hidden"] ){
	display:block;
	width:100%;
	border:3px solid #fff;
	font-size:18px;
	color:#fff;
	padding:8px 12px;
	background-color:transparent;
}

input:focus{
  border-color:#ff708f;
}
select{
  height:50px;
  text-indent:10px;
}
form input[type="submit"]{
	background: #ff708f; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff708f 0%, #f5e778 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff708f), color-stop(100%,#f5e778)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff708f 0%,#f5e778 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff708f 0%,#f5e778 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff708f 0%,#f5e778 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff708f 0%,#f5e778 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff708f', endColorstr='#f5e778',GradientType=1 ); /* IE6-9 */
	border:0;
	font-size:18px;
	color:#fff;
	padding: 15px 20px;
	display: block;
	width:100%;
	text-transform: uppercase;
}
form input[type="submit"]:hover{
	background: #ff708f; /* Old browsers */
}

[data-ajax-form]{
  margin-bottom:20px;
}
form ul{
  margin:0;
  padding:0;
  list-style:none;
}
form .inline{
  display: table;
  width:100%;
  table-layout: fixed;
}
form li{
  padding-bottom:12px;
  text-align: left;
}
form li.submit{
  text-align: right;
}
form label{
  display: block;
  width:100%;
  text-align: left;
  padding:12px 0;
}

form .inline li{
  display: table-cell;
  width:100%;
  vertical-align: middle;
  margin-bottom:25px;
}

form .inline li.submit{
  width:180px;
}

.btn.btn-primary,
a.btn.btn-primary{
  display: inline-block;
  padding:12px 30px;
  font-size:18px;
  background-color:salmon;
  color:#fff;
  border:0;
  border-radius:3px;
}
.btn.btn-primary:hover{
  background-color:#db5849;
}